astroid==3.3.9
certifi==2025.1.31
charset-normalizer==3.4.1
dill==0.3.9
docutils==0.21.2
flit==3.11.0
flit_core==3.11.0
idna==3.10
isort==6.0.1
loguru==0.7.3
marshmallow==3.26.1
mccabe==0.7.0
packaging==24.2
platformdirs==4.3.6
psutil==7.0.0
pylint==3.3.5
pyserial==3.5
requests==2.32.3
tomli_w==1.2.0
tomlkit==0.13.2
urllib3==2.3.0
